*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    height: 100px;
    width: 100%;
    padding: 20px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box div{
    display: flex;
    gap: 50px;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: black;
}

.section{
    width: 80%;
    margin: 8% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.card{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 30px 0;
}
.card img{
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}