*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    height: 100px;
    width: 100%;
    padding: 20px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box div{
    display: flex;
    gap: 50px;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: black;
}